extend ../../includes/_template.pug 

append config
        - var myTitle = 'Git hub key'
        - var myDesc = 'Авторизация в Git по ключу'
        - var mykeywords = 'Git gulp'
        - var csspatch = '../../css/'
        - var icopatch = '../../icons/'
        - var image = '../../img/git/git_ssh_key/'
        - var htmlpatch = '../'

append content
        .content
                h2 Генерируем ключ в программе Pytty-keygen
                p Запускаем программу нажимаем генерировать
                img(src=image+"1.png", alt="")
                p В поле комментарий указываем название ключа ( для себя что бы не забыть от чего ключ)
                p парольная фраза указываем пароль на ключ (рекомендуеться) Необходимо будет вводить пароль при каждом подключении. Если не указывать подключаться будет автоматически.
                p Нажимаем  Открытый ключ и сохраняем в папку C:\Users\Пользователь\.ssh под именем id_rsa.pub
                p Нажимаем Конвертация выбираем Экспортировать ключ в формате OpenSHH новый формате указываем имя id_rsa ( это закрытый ключ)
                p Копируем ключ из поля 1 и вставляем его в личном кабинете Github



                