- var lang = 'ru'
- var myTitle = 'f2service'
- var myDesc = 'Описание страницы'
- var mykeywords = 'Ключевые слова'
- var csspatch = 'css'
- var icopatch = 'icons/'
- var htmlpatch = ''
- var jQuery3 = false
- var Bootstrap4 = true
- var Fonts = 'Roboto'
- var address = 'г.Керчь. ул.Павлова 43'
- var FontAwesome = true

