extend ../includes/_template.pug 

append config
        - var myTitle = 'Основные команды docker'
        - var myDesc = 'Docker'
        - var mykeywords = 'Основные команды docker'
        - var csspatch = '../css/'
        - var icopatch = '../icons/'
        - var htmlpatch = '../'

append content
    .content
        .acticle
            .question
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis similique repudiandae, ad, deleniti reiciendis vel unde voluptas amet iure itaque delectus maiores aliquam? Ex, non minus. Non aspernatur asperiores necessitatibus!
            .answer
                |Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis libero recusandae consequuntur provident voluptatem, officiis ex, laborum mollitia excepturi exercitationem veniam quae nobis nihil, nemo explicabo ipsum nisi sequi quia!
                .code 
                    | пример кода