extend ../includes/_template.pug 

append config
        - var myTitle = 'Контакты'
        - var myDesc = 'Наши контакты'
        - var mykeywords = 'Контакты , связяться с нами'
        - var csspatch = '../css/'
        - var icopatch = '../icons/'
        - var htmlpatch = '../'

append content
        p
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odit sapiente quam vitae expedita explicabo voluptatem earum consequatur temporibus? Veritatis iste vel, culpa corporis nobis doloribus quibusdam repellat quasi minus.