extend ../includes/_template.pug 

append config
        - var myTitle = 'Записки CSS'
        - var myDesc = 'CSS'
        - var mykeywords = 'Контакты , связяться с нами'
        - var csspatch = '../css/'
        - var icopatch = '../icons/'
        - var htmlpatch = '../'

append content

    