extend ../includes/_template.pug 

append config
        - var myTitle = 'Git hub'
        - var myDesc = 'Работа с Git в gulp'
        - var mykeywords = 'Git gulp'
        - var csspatch = '../css/'
        - var icopatch = '../icons/'
        - var htmlpatch = '../'

append content
        
