extend ../includes/_template.pug 

append config
        - var myTitle = 'HTML-CSS'
        - var myDesc = 'HTML-CSS'
        - var mykeywords = 'Контакты , связяться с нами'
        - var csspatch = '../css/'
        - var icopatch = '../icons/'
        - var htmlpatch = '../'

append content
    .content
        .card
            ul.card__items
                li.card__item
                    a.card__link(href="html_prav.html") 
                        h3.card__title Правила HTML
                        img.card__img(src="../img/html/html.jpg", alt="html")
                li
                    a(href="list_class.html") Рекомендуемые названия классов
                li
                    a(href="zametki.html") ЗАметки Html
                li
                    a(href="#") Линукс
                li.card__item
                    a.card__link(href="#")
                        h3.card__title CSS
                        img.card__img(src="../img/html/css.jpg", alt="")