extend ../includes/_template.pug 

append config
        - var myTitle = 'главная Страница'
        - var myDesc = 'HTML'
        - var mykeywords = 'Контакты , связяться с нами'
        - var csspatch = 'css/'
        - var icopatch = 'icons/'
        - var htmlpatch = 'pages/'

append content
    .content
        h1 Тестовая Страница
        h2 Новоя строка
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim autem quae atque accusamus reiciendis nesciunt consectetur quidem facere non quas! Dolores optio impedit nostrum animi omnis dolor neque rerum minus?12121
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio possimus deleniti quo ut, quod harum? Quaerat a neque illum, quos vero quia itaque consequatur laboriosam, iste odit, officia harum quibusdam!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis voluptatum magnam cupiditate qui. Voluptates repellendus maxime, accusantium non saepe esse natus necessitatibus. Eos minus rem quaerat, qui dolorem quae dosloremque.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo aliquid, ab corporis aut sequi tenetur nulla dolores molestiae dicta commodi placeat ipsa sit architecto odio natus sapiente! Quia, adipisci inventore.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim autem quae atque accusamus reiciendis nesciunt consectetur quidem facere non quas! Dolores optio impedit nostrum animi omnis dolor neque rerum minus?12121
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio possimus deleniti quo ut, quod harum? Quaerat a neque illum, quos vero quia itaque consequatur laboriosam, iste odit, officia harum quibusdam!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis voluptatum magnam cupiditate qui. Voluptates repellendus maxime, accusantium non saepe esse natus necessitatibus. Eos minus rem quaerat, qui dolorem quae dosloremque.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo aliquid, ab corporis aut sequi tenetur nulla dolores molestiae dicta commodi placeat ipsa sit architecto odio natus sapiente! Quia, adipisci inventore.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim autem quae atque accusamus reiciendis nesciunt consectetur quidem facere non quas! Dolores optio impedit nostrum animi omnis dolor neque rerum minus?12121
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio possimus deleniti quo ut, quod harum? Quaerat a neque illum, quos vero quia itaque consequatur laboriosam, iste odit, officia harum quibusdam!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis voluptatum magnam cupiditate qui. Voluptates repellendus maxime, accusantium non saepe esse natus necessitatibus. Eos minus rem quaerat, qui dolorem quae dosloremque.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo aliquid, ab corporis aut sequi tenetur nulla dolores molestiae dicta commodi placeat ipsa sit architecto odio natus sapiente! Quia, adipisci inventore.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim autem quae atque accusamus reiciendis nesciunt consectetur quidem facere non quas! Dolores optio impedit nostrum animi omnis dolor neque rerum minus?12121
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio possimus deleniti quo ut, quod harum? Quaerat a neque illum, quos vero quia itaque consequatur laboriosam, iste odit, officia harum quibusdam!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis voluptatum magnam cupiditate qui. Voluptates repellendus maxime, accusantium non saepe esse natus necessitatibus. Eos minus rem quaerat, qui dolorem quae dosloremque.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo aliquid, ab corporis aut sequi tenetur nulla dolores molestiae dicta commodi placeat ipsa sit architecto odio natus sapiente! Quia, adipisci inventore.