extend ../includes/_template.pug 

append config
        - var myTitle = 'главная Страница'
        - var myDesc = 'HTML'
        - var mykeywords = 'Контакты , связяться с нами'
        - var csspatch = '../css/'
        - var icopatch = '../icons/'
        - var htmlpatch = ''

append content
    .content
       p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores fuga expedita non tempore. In sequi sed iste mollitia, velit, rem dolores amet, doloremque quaerat quidem maxime assumenda magnam? Quaerat, debitis?
