extend ../includes/_template.pug 

append config
        - var myTitle = 'HTML Правила'
        - var myDesc = 'HTML'
        - var mykeywords = 'Контакты , связяться с нами'
        - var csspatch = '../css/'
        - var icopatch = '../icons/'
        - var htmlpatch = '../'

append content
    .content
        section.list_class 
            h1  Популярные названия классов HTML/CSS
            
            h3 Блоки
            ul
                li page — корневой элемент страницы
                li header — шапка (страницы или элемента)
                li footer — подвал (страницы или элемента)
                li section — раздел контента (один из нескольких)
                li body — основная часть (страницы или элемента)
                li content — содержимое элемента
                li sidebar — боковая колонка (страницы или элемента)
                li aside — блок с дополнительной информацией
                li widget — виджет, например, в боковой колонке
        
            h3 Раскладка
            ul
                li wrapper, wrap — обёртка, обычно внешняя
                li inner — внутренняя обёртка
                li container, holder, box — контейнер
                li grid — раскладка (страницы или элемента) в виде сетки (обычно содержит в себе row и col)
                li row — контейнер в виде строки
                li col, column — контейнер в виде столбца
          
            h3 Элементы управления
            ul
                li button, btn — кнопка, например, для отправки формы
                li control — элемент управления, например, стрелки «Вперёд/назад» в фотогалерее, кнопки управления слайдером
                li dropdown — выпадающий список
            h3 Текст
            ul
                li title, subject, heading, headline, caption — заголовок
                li subtitle — подзаголовок
                li slogan — слоган
                li lead, tagline — лид-абзац в тексте
                li text — текстовый контент
                li desc — описание, вариант текстового контента
                li excerpt — отрывок текста, обычно используется перед ссылкой «Читать далее…»
                li link — ссылка
                li copyright, copy — копирайт
            h3 Списки
            ul
                li list, items — список
                li item — элемент списка
            h3 Изображения
            ul
                li image, img, picture, pic — картинка
                li icon — иконка
                li logo — логотип
                li userpic, avatar — юзерпик, маленькая картинка пользователя
                li thumbnail, thumb — миниатюра, уменьшенное изображение
            h3 Медиавыражения
            ul
                li phone, mobile — мобильные устройства
                li phablet — телефоны с большим экраном (6-7″)
                li tablet — планшеты
                li notebook, laptop — ноутбуки
                li desktop — настольные компьютеры
            h2 Размеры
            ul
                li tiny — маленький, крохотный
                li small — небольшой
                li medium — средний
                li big, large — большой
                li huge — огромный
                li narrow — узкий
                li wide — широкий
            h3 Состояния
            ul
                li active, current — активный элемент, например, текущий пункт меню
                li hidden — скрытый элемент
                li error — статус ошибки
                li warning — статус предупреждения
                li success — статус успешного выполнения задачи
                li pending — состояние ожидания, например, перед сменой статуса на error или success
            h3 Дополнительно
            ul
                li search — поиск
                li socials — блок иконок соцсетей
                li advertisement, adv, commercial, promo — рекламный блок (режутся Адблоком, не рекомендуется использовать такие классы для блоков с внутренней рекламой)
                li features, benefits — список основных особенностей товара, услуги
                li slider, carousel — слайдер, интерактивный элемент с прокруткой содержимого
                li pagination — постраничная навигация
                li user, author — пользователь, автор записи или комментария
                li meta — блок с дополнительной информацией, например, блок тегов и даты в посте
                li cart, basket — корзина
                li breadcrumbs — навигационная цепочка, «хлебные крошки»
                li more, all — ссылка на полную информацию
                li modal — модальное (диалоговое) окно
                li popup — всплывающее окно
                li tooltip, tip — всплывающие подсказки
                li preview — анонс, отрывок, например новости или поста, может состоять из заголовка, описания и картинки. Предполагается ссылка на полную версию