extend ../../includes/_template.pug 

append config
        - var myTitle = 'Записки администратора'
        - var myDesc = 'ЗАметки по работе с система'
        - var mykeywords = 'Администрирование'
        - var csspatch = '../../css/'
        - var icopatch = '../../icons/'
        //- - var image = '../../img/git/new_project/'
        - var htmlpatch = '../'

append content
        .content
                p
                        a(href=htmlpatch+"system/ssh_ubuntu16.html") SSH ubuntu 16
                
                