extend ../../includes/_template.pug 

append config
        - var myTitle = 'Защита SSH-соединений с помощью fail2ban на Ubuntu 18.04'
        - var myDesc = 'fail2ban-SSH'
        - var mykeywords = 'Защита SSH-соединений с помощью fail2ban на Ubuntu 18.04'
        

append content
    .content
        h1 Защита SSH-соединений с помощью fail2ban на Ubuntu 18.04

        p Сегодня рассмотрим защиту SSH-сервиса от атак  Brute Force с помощью программы Fail2Ban, которая эффективно отслеживает сетевую активность и блокирует запросы с устройств, IP-адрес которых попал в чёрный список.

       
        h2 Подготовка системы и обновление
        | Устанавливать Fail2Ban будем на операционную систему Ubuntu Server 18.04.
        | Перед установкой программы сперва выполним обновление системы:

        .code-view
            | sudo apt update
            p sudo apt dist-upgrade -y
        
        h2 Установка  fail2ban из репозитория ubuntu
        .code-view
            |sudo apt install fail2ban -y

        h2 Настройка Fail2Ban для SSH
        p Все правки конфигурации мы будем производить в файле /etc/fail2ban/jail.local, этот файл будет подключен автоматически и его настройки имеют наивысший приоритет.
        p Откройте файл /etc/fail2ban/jail.local:
        .code-view
            | sudo nano /etc/fail2ban/jail.local

        p Если файл отсутствует, то сначала создадим его:
        .code-view
            | sudo cp /etc/fail2ban/jail.conf /etc/fail2ban/jail.local
        
        p В первую очередь нас интересует секция [DEFAULT]. В ней содержатся основные правила:
        br
        ul
            li ignoreip - указание, какие IP-адреса не должны блокироваться. Вы можете задать через пробел несколько адресов, которые fail2ban не будет учитывать в своих проверках. Например, если у вас постоянный IP-адрес, то вы можете указать его, и тогда при ошибочном вводе пароля ваш IP не будет заблокирован.
            li bantime — время в секундах, в течение которого подозрительный IP-адрес будет заблокирован.
            li findtime — интервал времени в секундах, в течение которого программой будет определяться подозрительная активность.
            li maxretry — число неудавшихся попыток авторизации в течение findtime секунд до попадания IP-адреса в бан
        
        



        
       
        

        
