extend ../../includes/_template.pug 

append config
        - var myTitle = 'HTML Правила'
        - var myDesc = 'HTML'
        - var mykeywords = 'Контакты , связяться с нами'
        - var csspatch = '../../css/'
        - var icopatch = '../../icons/'
        - var htmlpatch = '../'
        - var htmlPatchIndex = '../../'

append content
    .content
        section.html_rules
            h1 Правила при верстке HTML
            ol
                li Классы писать на английском , без транслита
                li Выносить стили css в отдельный файл, не прописывая их в атрибутах
                li Использовать строчные элементы внутри блочных
                li Добавлять атрибут alt= для <span> img </span>
            