extend ../../includes/_template.pug 

append config
        - var myTitle = 'HTML-CSS'
        - var myDesc = 'HTML-CSS'
        - var mykeywords = 'Контакты , связяться с нами'
        - var csspatch = '../../css/'
        - var icopatch = '../../icons/'
        - var htmlpatch = '../../'

append content
    .content
        ul
            li  
                a(href="html_prav.html") Правила HTML
            li
                a(href="list_class.html") Рекомендуемые названия классов
            li
                a(href="zametki.html") ЗАметки Html
