extend ../../includes/_template.pug 

append config
        - var myTitle = 'Заметки Html'
        - var myDesc = 'Docker'
        - var mykeywords = 'Основные команды docker'
        - var csspatch = '../../css/'
        - var icopatch = '../../icons/'
        - var htmlpatch = '../'
        - var htmlPatchIndex = '../../'
append content
    .content
        ul Ресурсы HTML
            li 
                a(href="https://www.w3schools.com/") https://www.w3schools.com/
            li
            li
            li
        picture
            source(type='image/webp' srcset='img/css.webp' alt='pictyre')

    

        