extend ../../includes/_template.pug 

append config
        - var myTitle = 'Заметки Html'
        - var myDesc = 'Docker'
        - var mykeywords = 'Основные команды docker'
        - var csspatch = '../../css/'
        - var icopatch = '../../icons/'
        - var htmlpatch = '../'
        - var htmlPatchIndex = '../../'
append content
    .content
        .wrap_code
            .p Указываем контейнер Flex , содержимое выставляем в колонки и прижимаем к правому краю.
            .code
                p display: flex;
                p flex-direction: column;
                p align-items: flex-end;
        .wrap_code
            .p Выставляем контейнеры горизонтально с равномерным распрелением
            .code
                | justify-content: space-between
        .wrap_code
            .p Запись nth-child в pug 
            .code
                |  input
                |    margin-bottom: 15px
                |    &:nth-child(3)
                |        margin-bottom: 20px
                

        