nav
    .container
        ul.menu
            li.menu_list
                a.menu_link(href=htmlpatch+"index.html") Главная
            li.menu_list
                a.menu_link(href="/html/CSS.html")   WEb разработка
            li.menu_list
                 a.menu_link(href="#")  Администрирование
            li.menu_list
                 a.menu_link(href="#")  Требования
            li.menu_list
                 a.menu_link(href="/html/contact.html")  Контакты
            
.container
       .copyraiting
              |  Copyright © 2020 
              a(href="www.f2service.ru" target="_blank") www.f2service.ru
       .social
              a(href="http://vk" title="Мы в Вконтакте" target="_blank" rel="nofollow")
                     .vkontakte
                     