.subheader
    .container
        .row
            .col-md-4.offset-md-1 
                a.subheader_logo(href="www.f2service.ru")
                    img(src=icopatch+"logo.png", alt="logo")
                .subheader_official Услуги Системного администрирования
            .col-md-3.offset-md-1 
                .subheader_call Звоните нам ежедневно
                a.subheader_phone(href="tel:+79789653689") +7 978-965-36-89
            .col-md-2  
                button.subheader_btn заказать звонок


nav
    .container
        ul.menu
            li.menu_list
                a.menu_link(href=htmlpatch+"index.html") Главная
            li.menu_list
                a.menu_link(href="/html/CSS.html")   WEb разработка
            li.menu_list
                 a.menu_link(href="#")  Администрирование
            li.menu_list
                 a.menu_link(href="#")  Требования
            li.menu_list
                 a.menu_link(href="/html/contact.html")  Контакты
            
