.subheader
    .wrapper
        a.subheader_logo(href="http://f2service.ru")
            img(src=icopatch+"logo.png", alt="logo")
        .subheader_official Услуги Системного администрирования
    .subheader_call Звоните нам ежедневно
        a.subheader_phone(href="tel:+1111111") +7 978-1111111
    button.subheader_btn Отправить заявку


nav
    .container
        ul.menu
            li.menu_list
                a.menu_link(href=htmlpatch+"index.html") Главная
            li.menu_list
                a.menu_link(href="/html/CSS.html")   WEb разработка
                ul.dropdown
                    li.menu_list 
                        a(href="#") HTML
                    li
                        a(href="#") Git
            li.menu_list
                 a.menu_link(href="/html/html.html")  Администрирование
            li.menu_list
                 a.menu_link(href= "http://file.f2service.ru")  Скачать ПО
            li.menu_list
                 a.menu_link(href="/html/contact.html")  Контакты
    .hamburger
        span dfdff
        span dfsdfd
        span

            
