.subheader
    .wrapper
        a.subheader_logo(href="http://f2service.ru")
            img(src=icopatch+"logo.png", alt="logo")
        .subheader_official Услуги Системного администрирования
    .subheader_call Звоните нам ежедневно
        a.subheader_phone(href="tel:+1111111") +7 978-1111111
    button.subheader_btn Отправить заявку


nav
    .container
        ul.menu
            li.menu__list
                a.menu__link(href="index.html") Главная
                ul.menu__drop
                    li.menu__drop__list 1
                    li.menu__drop__list 2
            li.menu__list
                a.menu__link(href="#")   WEb разработка
                ul.menu__drop
                    li.menu__drop__list
                        a(href=htmlpatch+"html.html") HTML
                    li.menu__drop__list
                        a(href="#") Git
            li.menu__list
                a.menu__link(href="#")  Администрирование
                ul.menu__drop
                    li.menu__drop__list
                        a(href=htmlpatch+"docker/docker.html") Docker
                        ul.menu__drop__two
                            li.menu__drop__list__two
                            a(href="#") Тест

                    li.menu__drop__list 2

            li.menu__list
                a.menu_link(href= "http://file.f2service.ru")  Скачать ПО
            
        
        
    
            
