extend ../../includes/_template.pug 

append config
        - var myTitle = 'Создане базы и Таблицы'
        - var myDesc = ' Создане базы и Таблицы"'
        - var mykeywords = ' Создане базы и Таблицы"'
        - var csspatch = '../../css/'
        - var icopatch = '../../icons/'
        //- - var image = '../../img/git/new_project/'
        - var htmlpatch = '../'

append content
        .content
                

                h2 Создание Базы данных
                .wrap_code
                        .p Создает Базу данных testdb
                        .code
                                | CREATE DATABASE testdb
                .wrap_code
                        .p Удаление Базы данных Marka
                        .code
                                | DROP DATABASE testdb
                .wrap_code
                        .p Создание таблице в базе данных Marka
                        .code
                                | CREATE TABLE Marka
                                br
                                | (marka_id int PRIMARY KEY,  name varchar(32) NOT NULL );
                
                p marka_id - индетификатор в таблице. обычно используеться приставка id к наименованию таблицы
                p int(integer) - Тип данных цифровой c целым значением
                p PRIMARY KEY -  Уникальный ключь . данные в этом столбце не должны повторяться.
                p varchar(32) - тип данных и числовой и текстовой с указанием длины.
                p NOT NULL -  Не должен содержать ноль.
                a(href=htmlpatch+"sql/tipdata.html") Типы Данных SQL 
                .wrap_code
                        .p Удаление Базы данных Marka
                        .code
                                | DROP TABLE Marka