extend ../../includes/_template.pug 

append config
        - var myTitle = 'Reload Nginx Внутри Контейнера'
        - var myDesc = 'Docker: Reload Nginx Внутри Контейнера'
        - var mykeywords = 'Docker: Reload Nginx Внутри Контейнера , перезагрузка службы внутри docker'
        - var csspatch = '../../css/'
        - var icopatch = '../../icons/'
        - var htmlpatch = '../'

append content
    h2 Добавление свободного параметка
    p Указываеться через (data-modal="consultation")