//- Подключаем переменные
include pug/includes/_var.pug  

//- #{address} образец как вставлять переменную pug

<!DOCTYPE html>
html(lang=lang)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="shortcut icon" href="icons/favicon.ico" type="image/ico")
        title #{myTitle}
    body
        
        main.grid
            header
                include pug/block/_header.pug

            section
                block content
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi eaque hic voluptate. Minima temporibus sint eos ratione reprehenderit nostrum consequuntur ipsa iste. Nam autem natus fugit ab corrupti, nisi in!
            
            sidebar
                include pug/block/_sidebar.pug
            footer
                include pug/block/_footer.pug